/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* General CSS */
.page-title {
	margin-top: 50px;
	margin-bottom: 80px;
}
#footer #footersponsors li {
	margin-bottom: 5px;
	text-align: center;
}
#footer #footersfooter {
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-top: 15px;
}

/* Homepage */
article#home {
	margin-top: 20px;
}
article#home #introduction h1 {
	font-size: 1.5em;
}
article#home #introduction p.dateplace {
	font-style: italic;
	font-size: 0.7em;
	text-align: right;
	margin-bottom: 20px;
}
article#home #introduction p.description {
	font-size: 0.7em;
}
article#home #introduction p.cta {
	text-align: center;
	margin-top: 20px;
}

@media (min-width: 992px) {
	article#home #introduction h1 {
		font-size: 1.8em;
	}
	article#home #introduction p.dateplace {
		font-size: 1em;
	}
	article#home #introduction p.description {
		font-size: 0.9em;
	}
}
@media (min-width: 1200px) {
	article#home #introduction h1 {
		font-size: 2.2em;
	}
}

article#home h2 {
	margin: 50px 0 40px;
	padding-top: 40px;
	border-top: 1px solid #eeeeee;
}

article#home .speakers {
	text-align: center;
}
article#home .speakers img {
	max-width: 100%;
}
article#home .sponsors {
	text-align: center;
}
article#home .sponsors li {
	margin-bottom: 5px;
}

/* Schedule */

article#schedule .day li.list-group-item {
	padding-top: 0;
	padding-bottom: 0;
}
article#schedule .day li.list-group-item a {
	color: black;
}
article#schedule .day .time {
	margin-top: 3em;
}
article#schedule .day .photo {
	text-align: right;
}
article#schedule .day .photo img {
	max-width: 100%;
}
article#schedule .day .photo img.double {
	max-width: 50%;
}
article#schedule .titlename h4 {
	margin-bottom: 0;
}
article#schedule .titlename .name {
	margin-bottom: 0;
}
article#schedule .titlename .name,
article#schedule .titlename .venue {
	text-align: right;
	font-style: italic;
}

/* Speakers */

article#speakers .speaker {
	text-align: center;
	margin-top: 50px;
}

/* Talk */
article#talk h3 {
	margin-top: 50px;
	margin-bottom: 50px;
}
article#talk .speaker {
	margin-bottom: 50px;
}
article#talk .speaker .name {
	margin: 0;
}
article#talk .speaker .title {
	font-style: italic;
}
article#talk .speaker .photo {
	text-align: center;
}
article#talk .speaker .photo img {
	max-width: 100%;
}

/* Venues */
article#venues #map {
	margin: 0 20px 20px;
	height: 300px;
	background-color: #dcdcdc;
}
article#venues #map h4 {
	text-align: center;
	padding-top: 100px;
}
article#venues #map .photo {
	text-align: center;
}
article#venues .venue {
	margin-bottom: 30px;
}
article#venues .venue .photo {
	text-align: center;
}
article#venues .venue .photo img {
	max-width: 100%;
}