<article id="newspost" class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-9" id="doc-search">
			<%= render partial: "newssearch" %>
		</div>
	</div>

	<div class="row content">
		<div class="col-md-8 col-md-offset-2">
			<div class="centeredfluidimage photo">
				<img src="http://dummyimage.com/250x200/000/fff" alt="John Boelyn">
			</div>
			<h1>This is the article's title</h1>
			<p class="date">On September 13th 2013</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum ornare neque at cursus. Donec sit amet ultrices lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras euismod arcu non dolor interdum, et condimentum metus pharetra. Nulla tincidunt et orci nec vestibulum. Suspendisse nec pharetra massa. Sed tempor imperdiet facilisis. Integer imperdiet porttitor erat, id cursus nibh pharetra ut. Sed rutrum dictum quam, quis blandit velit interdum vitae.
			</p>
		</div>
	</div>

</article>