<article id="speakers" class="container">

  <div class="page-title">
    <h1>FrontWebConf's Speakers</h1>
    <p>All of the industry's top speakers meet for FrontWebConf:</p>
  </div>

  <div class="row">
    <% 10.times do %>
      <div class="col-md-4 col-sm-6 speaker" id="aaaaaaaaaaaaaaaa">
        <h4>John Boelyn</h4>
        <p>CTO of BiffCo</p>
        <p><img src="http://dummyimage.com/165x165/000/fff" alt="John Boelyn"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis, sapien ut dignissim cursus, justo sem bibendum enim, quis lobortis augue ipsum eget turpis. Ut facilisis, nulla at sodales aliquet, lorem mi lacinia nunc, in volutpat nunc augue quis urna. Duis ut metus euismod, faucibus dolor quis, cursus lectus. Duis dictum magna lectus, id gravida leo adipiscing in. Phasellus felis nunc, blandit vel sem eu, rutrum faucibus leo.</p>
        <h5>Speaks in:</h5>
        <ul class="list-unstyled">
          <li><a href="#">HTML5 APIs</a></li>
          <li><a href="#">HTML5 APIs redux</a></li>
        </ul>
      </div>
    <% end %>
  </div>

</article>